.button {
	border-radius: 32px;
	background: rgb(16, 185, 129);
	position: relative;
	width: 118px;
	height: 46px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 16;
	padding: 12px 16px 12px 16px;
}