.partners {
}

.partner-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partner-card__featured {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  grid-column: 2;
  border-radius: 8px;
  align-items: center;
}

.partner-card__image {
  margin: 0;
  border-radius: 16px;
  margin-right: 32px;
}

.partner-card__featured-image {
  border-radius: 16px;
  margin: 0;
  margin-bottom: 29px;
}

.partner-card__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.partner-card__people {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.partner-card__people-image {
  margin-right: 16px;
}

.partner-card__people-p {
  color: rgb(60, 69, 99);
  font-family: Lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.partner-card__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.partner-card__title {
  margin: 0;
  color: rgb(27, 28, 87);
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
}

.partner-card__featured-title {
  color: rgb(27, 28, 87);
  font-family: Lexend;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.partner-card__content-description {
  color: rgb(98, 102, 135);
  font-family: Lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.75;
}

.partner-card__date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-card__date > img {
  margin-right: 14px;
}

.partner-card__date > span {
  color: rgb(136, 139, 151);
  font-family: Lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 1200px) {
  .partner-card__featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    grid-column: auto;
    border-radius: 0;
    align-items: center;
  }

  .partner-card__featured-image {
	aspect-ratio: 200/144;
	object-fit:cover;
	width: 200px;
	margin: 0;
	border-radius: 16px;
	margin-right: 32px;
  }
  .partner-card__featured-title {
	margin: 0;
  color: rgb(27, 28, 87);
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
	margin-bottom: 0px;
  }
  .partner-card__content-description {
	display: none;
  }
}

@media (max-width: 780px) {
	.partner-card__featured {
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: flex-start;
	  gap: 20px;
	}
	.partner-card {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
	  }
  }