.rewiews {
  width: 100%;
  margin-bottom: 148px;
}
.rewiews__name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rewiews__name-line {
  width: 32px;
  height: 1px;
  background: rgb(245, 158, 11);
  margin-bottom: 8px;
}
.rewiews__name-title {
  color: rgb(245, 158, 11);
  font-family: Lexend;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.rewiews__title {
  color: rgb(27, 28, 87);
  font-family: Lexend;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.rewiews__slider {
  width: 100%;
}
