.data-window {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px;
	background-color: #FFFFFF;
	border-radius: 32px;
	box-shadow: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
	background: rgb(255, 255, 255);
}

.data-window__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.data-window__item {}

.data-window__item-img-stroke {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 3px solid rgb(255, 255, 255);
	box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.1);
	border-radius: 50%;
	border: solid 3px #FFFFFF;

}

.data-window__details {
	margin-left: 16px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.data-window__text {
	color: rgb(27, 28, 87);
	font-family: Lexend;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	white-space: nowrap;
}

.data-window__description {
	color: rgb(104, 121, 159);
	font-family: Lexend;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	white-space: nowrap;
}