.partners {
	width: 100%;
}

.partner-card__grid {
	margin: 0 120px;
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 20px;
}

.left-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.right-container {
	display: flex;
	align-items: flex-start;
}