.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 120px 120px 120px;
}

.footer__information {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

}

.footer__information-logo {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

}

.footer__logo-text {
	color: rgb(27, 28, 87);
	font-family: Lexend;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: capitalize;
}

.footer__information-logo>img {
	margin-right: 12px;
}

.footer__information-p {
	color: rgb(98, 102, 135);
	font-family: Lexend;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	max-width: 320px;
	margin-bottom: 24px;
}

.footer__socialn-network {
	display: flex;
}

.footer__socialn-network>a {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 24px;
}

.footer__menu {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.footer__menu-item {
	display: flex;
	align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
	margin-right: 88px;
}
.footer__menu-item:last-child {
	margin: 0px;
}

.footer__menu-item>p {
	color: rgb(14, 23, 53);
	font-family: Lexend;
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 24px;
}

.footer__menu-link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	list-style: none;
	text-decoration: none;
	margin-bottom: 18px;
	color: rgb(136, 139, 151);
	font-family: Lexend;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: left;
	text-transform: capitalize;
}

.footer__menu-link:last-child {
	margin: 0;
}
@media (max-width: 950px) {
	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		max-width: 1200px;
		margin: 0 120px 120px 120px;
	}
	.footer__menu{
		flex-direction: column;
		margin-top: 20px;
		gap: 20px;
	}
    
  }